<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>message board</title>
  </head>
  <body>
    <h1>Add New Tiger:</h1>

     <form action="/addnew" method="post">
       <label> Name: </label>
       <input type="text" name="name"><br>
      <label> Color: </label>
      <input type="text" name="color"><br>
      <label>Gender:</label>
      <input type="text" name="gender"><br>
      <input type="submit" value="Add Tiger">
     </form>
  </body>
</html>
